
{% for post in posts %}
    {% set postImage = post.featureImage.one() %}

    <article>

      {% if postImage %}

        {# Image with optimazations added manually (mode & width in px) #}
        {# <div class="thumbnail">
          {{ postImage.getImg({
            mode: 'fit',
            width: 1200,
          }) }}
        </div> #}

        {# Using Named Transforms -  reference transform by its handle, that we set up in Settings → Assets → Image Transforms #}
        <div class="thumbnail">
          {{ postImage.getImg('thumbnail') }}
        </div>

      {% endif %}

      <h2>{{ post.title }}</h2>

      <time datetime="{{ post.postDate | atom }}">
        {{ post.postDate | date }}
      </time>

      {{ post.summary | md }}

      <a href="{{ post.url }}">Continue Reading</a>

    </article>

  {% endfor %}